{
    "parser": "babel-eslint",
    "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
    "plugins": ["prettier"],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "prettier/prettier": "error",
        "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
        "react/no-array-index-key": "off",
        "react/style-prop-object": [
            "error",
            { "allow": ["FormattedNumber", "FormattedRelative", "FormattedPlural"] }
        ]
    }
}
